Bottleneck==1.4.2
Brotli==1.0.9
Cython==3.0.11
GitPython==3.1.43
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.3
PyFastNER==1.0.10
PyRuSH==1.0.9
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.18.0
Unidecode==1.3.8
Werkzeug==3.1.3
absl-py==2.1.0
accelerate==0.34.2
ace_tools_open==0.1.0
aiohttp==3.8.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
attrs==24.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
blis==0.7.11
bs4==0.0.2
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==2.0.4
chex==0.1.87
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
conllu==6.0.0
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
datasets==2.19.1
datasets==3.1.0
decorator==5.1.1
dill==0.3.8
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.8.0
en_core_sci_lg==0.5.4
en_core_sci_md==0.5.4
en_core_sci_scibert==0.5.4
en_core_sci_sm==0.5.4
en_ner_bc5cdr_md==0.5.4
en_ner_bionlp13cg_md==0.5.4
en_ner_craft_md==0.5.4
en_ner_jnlpba_md==0.5.4
etils==1.10.0
evaluate==0.4.2
exceptiongroup==1.2.2
executing==2.1.0
faiss==1.8.0
filelock==3.13.1
flash-attn==2.5.9.post1
flax==0.10.1
fonttools==4.54.1
frozenlist==1.4.1
frozenlist==1.5.0
fsspec==2024.3.1
fsspec==2024.9.0
gitdb==4.0.11
gmpy2==2.1.2
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-auth==2.32.0
googleapis-common-protos==1.63.2
grpcio==1.68.1
httplib2==0.22.0
huggingface-hub==0.27.0
huggingface_hub==0.26.2
humanize==4.11.0
idna==3.7
importlib_resources==6.4.5
iniconfig==2.0.0
inquirerpy==0.3.4
ipython==8.29.0
itables==2.2.3
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.2
joblib==1.4.2
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.2.0
lightning-utilities==0.11.2
lightning==2.2.5
lxml==5.2.2
marisa-trie==1.2.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.9.2
mdurl==0.1.2
medspacy==1.2.0
medspacy_quickumls==3.2
medspacy_unqlite==0.9.6
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml_dtypes==0.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multidict==6.1.0
multiprocess==0.70.15
multiprocess==0.70.16
murmurhash==1.0.10
nest-asyncio==1.6.0
networkx==3.1
nltk==3.8.1
nmslib==2.1.1
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.9.1
packaging==24.0
packaging==24.2
pandas==2.2.2
parso==0.8.4
pathlib_abc==0.1.1
pathy==0.11.0
peft==0.11.1
pexpect==4.9.0
pfzy==0.3.4
pillow==10.3.0
pip==24.0
platformdirs==4.2.2
pluggy==1.5.0
portalocker==2.8.2
preshed==3.0.9
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow-hotfix==0.6
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.6.1
pydantic==1.10.19
pydantic_core==2.23.4
pygsheets==2.0.6
pyparsing==3.1.2
pysbd==0.3.4
pysimstring==1.2.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pytorch-lightning==2.2.5
pytz==2024.1
pytz==2024.2
quicksectx==0.4.0
rank-bm25==0.2.2
referencing==0.35.1
regex==2024.5.15
regex==2024.9.11
requests-oauthlib==2.0.0
requests==2.32.2
rich==13.7.1
rpds-py==0.21.0
rsa==4.9
sacrebleu==2.4.2
safetensors==0.4.3
safetensors==0.4.5
scikit-learn==1.5.0
scipy==1.13.1
scispacy==0.5.5
sentence-transformers==3.0.1
sentencepiece==0.2.0
sentry-sdk==2.3.1
setproctitle==1.3.3
setuptools==69.5.1
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
soupsieve==2.5
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.5
spacy==3.7.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard-data-server==0.7.2
tensorboard==2.18.0
tensorboardX==2.6.2.2
tensorstore==0.1.68
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.20.1
tokenizers==0.20.3
tomli==2.1.0
toolz==1.0.0
torch==2.3.0
torchaudio==2.3.0
torchmetrics==1.4.0.post0
torchvision==0.18.0
tqdm==4.66.4
tqdm==4.67.0
traitlets==5.14.3
transformers==4.46.3
triton==2.3.0
trl==0.8.6
typer==0.9.4
typing_extensions==4.11.0
tyro==0.8.4
tzdata==2024.1
tzdata==2024.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.1
wandb==0.17.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
wheel==0.43.0
wrapt==1.16.0
xxhash==2.0.2
xxhash==3.4.1
yarl==1.7.2
yarl==1.9.4
zipp==3.21.0